fastapi==0.109.2
uvicorn==0.27.1
streamlit==1.31.0
pydantic>=2.8.2
langchain==0.1.12
langchain-community==0.0.28
langchain-google-genai==0.0.9
langchain-huggingface==0.0.1
chromadb>=0.5.0
sentence-transformers==2.6.1
pypdf==4.1.0
plotly==5.19.0
python-dotenv==1.0.1
pandas==2.2.0
requests==2.31.0